.teachcont {
  @include respond(desktop) {
  }
  padding: 20px;
  font-family: 'Dosis', cursive;
  &__title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    @include respond(desktop) {
      font-size: 6rem;
    }
  }

  &__grid {
    background-image: linear-gradient(
      to right top,
      #e2e9f2,
      #9ef0ff,
      #1bf9f0,
      #3bf9a0,
      #a8eb12
    );
    @include respond(tab-port) {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: minmax(auto);
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    @include respond(big-desktop) {
      padding: 50px 200px;
    }

    &__image1 {
      text-align: center;
      margin-top: 20px;
      &__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
      @include respond(tab-port) {
        grid-column: 7/11;
        grid-row: 1;
      }
    }
    &__text1 {
      font-size: 1.7rem;
      margin-top: 20px;
      grid-column: 2/4;

      padding: 10px;
      @include respond(big-desktop) {
        font-size: 2.3rem;
      }
      @include respond(tab-port) {
        grid-column: 1/8;
        grid-row: 1;
      }
    }

    &__image2 {
      text-align: center;
      margin-top: 20px;
      &__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
      @include respond(tab-port) {
        grid-column: 1/5;
        grid-row: 2;
      }
    }

    &__text2 {
      font-size: 1.7rem;

      grid-column: 1/3;
      grid-row: 2;
      margin-top: 60px;

      padding: 10px;
      @include respond(big-desktop) {
        font-size: 2.3rem;
      }
      @include respond(tab-port) {
        grid-column: 4/11;
        grid-row: 2;
      }
    }

    &__image3 {
      text-align: center;
      margin-top: 20px;
      &__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
      @include respond(tab-port) {
        grid-column: 7/11;
        grid-row: 3;
      }
    }

    &__text3 {
      font-size: 1.7rem;
      grid-column: 2/4;
      grid-row: 3;
      margin-top: 60px;

      padding: 10px;
      @include respond(big-desktop) {
        font-size: 2.3rem;
      }
      @include respond(tab-port) {
        grid-column: 1/8;
        grid-row: 3;
      }
    }
  }
}
