.classscreen {
  margin-top: 50px;
  @include respond(tab-port) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
  }

  &__left {
    grid-row: 1 / 3;
    padding: 50px;
    border-right: 1px solid;
  }

  &__right {
    padding: 20px;
    &__desc {
      font-family: 'Dosis', sans-serif;
      font-size: 2rem;
      margin-top: 20px;
    }
    @include respond(desktop) {
      width: 50%;
    }
    &__sec1 {
      &__shedule {
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
      }
      &__title {
        font-family: 'Bebas Neue', cursive;
        font-size: 5rem;
        &__name {
          color: rgb(148, 218, 10);
        }
      }
      &__cat {
        font-family: 'Dosis', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        color: rgb(238, 22, 22);
      }
      &__starts {
        font-family: 'Dosis', sans-serif;
        font-size: 2rem;
        margin-top: 10px;

        &__title {
          font-size: 2rem;
          color: #000;
          font-family: 'Bebas Neue', cursive;
        }
      }
      &__adv1 {
        font-size: 1.3rem;
        font-family: 'Dosis', sans-serif;
        margin-top: 10px;
        background-color: #ede04d;
        padding: 10px;
        margin-bottom: 20px;

        width: 400px;
      }
      &__price {
        color: #fff;
        font-size: 4rem;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 900;
        background-color: rgb(118, 196, 41);
        width: 80px;
        padding: 4px 5px 4px 10px;
        border-radius: 20px;
      }
      &__cart {
        display: flex;
        margin-top: 20px;
        padding: 1px;
        //padding: 10px;
        &__buttonadd {
          width: 30px;
          color: rgb(2, 2, 2);
          border: 0.2px solid;
          background-color: white;
          margin: 0 10px;
        }
        &__numadd {
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          border: 1px solid;
        }

        &__buttoncartout {
          margin-left: 0px;
          padding: 15px;
          background-color: rgb(235, 25, 25);
          border: none;
          color: white;
        }
      }
    }

    &__sec2 {
      padding: 10px 20px;
      border: 1px solid;
      width: 300px;
      height: 180px;
      margin-left: 20px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      &__title {
        font-family: 'Dosis', sans-serif;
        font-size: 2rem;
      }
      &__teach {
        font-size: 3rem;
        margin-top: 1px;
        color: rgb(84, 167, 1);
      }

      &__table {
        display: flex;
        margin-top: 5px;
        font-size: 2rem;
        &__fec {
          border: 1px solid;
          padding: 5px;
          margin-left: 2px;
        }
      }
      &__dura {
        font-size: 2rem;
        margin-top: 10px;
      }
    }
  }
  height: auto;
}

.botonsquare {
  margin-top: 30px;
}

.logosquare {
  text-align: center;
  margin-top: 20px;
}
