.classlist {
  display: block;
  margin-top: 50px;

  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 10px;
    width: 90%;
    margin: 10px auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(big-desktop) {
      width: 26%;
      margin-top: 5rem;
    }

    &__image {
      text-align: center;
    }
    &__title {
      font-family: 'Bebas Neue', cursive;
      font-size: 3rem;
      background-color: rgb(157, 212, 47);
      color: white;
      text-align: center;
      position: relative;
      padding: 25px 0px 13px 0px;
      height: 50px;
      &__location {
        font-family: 'Dosis', sans-serif;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3px 8px 3px 3px;
        color: rgb(13, 14, 13);
        font-size: 1.5rem;
      }
      &__category {
        font-family: 'Dosis', sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px;
        color: rgb(236, 64, 12);
      }
    }
    &__varios {
      font-family: 'Dosis', sans-serif;
      font-size: 1.8rem;
      text-align: start;
      list-style: none;
      color: rgb(0, 0, 0);
      width: 60%;
      margin: 20px auto;
      padding-left: 40px;

      &__li {
        padding: 3px;
        &__res {
          font-size: 2rem;
          color: rgb(94, 70, 230);
          font-weight: 800;
        }
      }
    }
    &__parrafo {
      font-family: 'Dosis', sans-serif;
      font-size: 1.8rem;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 0 10px;
      text-align: center;
    }
    &__precio {
      font-family: 'Bebas Neue', cursive;
      font-size: 3rem;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: rgb(84, 104, 43);
      color: white;
      width: 30%;
      margin: 10px auto;
      text-align: center;
      border-radius: 30px;
    }
    &__divboton {
      text-align: center;
    }
    &__boton {
      background-color: rgb(226, 54, 31);
      padding: 10px;
      width: 60%;
      border: 1px solid;
      font-family: 'Bebas Neue', cursive;
      font-size: 2rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
      margin: 20px auto;
      &:hover {
        background-color: rgb(235, 235, 235);
      }
    }
  }
}
